.play-control {
  display: none;
  float: right;
  width: 82px;
  margin-top: -25px;
}

.is-show-play {
  display: block;
}

.sing-content .play-control a {
  text-decoration: none;
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background: url("../../../asserts/logo/index.png") 0 0 no-repeat;
}

.sing-content .play-control a:hover {
  text-decoration: none;
}

.sing-content .play-control a:nth-child(1) {
  background-position: -267px -268px;
}

.sing-content .play-control a:nth-child(1):hover {
  background-position: -267px -288px;
}

.sing-content .play-control a:nth-child(2) {
  margin: 2px 6px 0 0;
  background: url("../../../asserts/logo/icon.png") 0 -700px no-repeat;
}

.sing-content .play-control a:nth-child(2):hover {
  background-position: -22px -700px;
}

.sing-content .play-control a:nth-child(3) {
  background-position: -297px -268px;
}

.sing-content .play-control a:nth-child(3):hover {
  background-position: -297px -288px;
}
