.content{
    width: 980px;
    margin:0 auto;
    min-height: 700px;
    border:1px solid #d3d3d3;
    border-width: 0 1px;
    background: #fff;
}

.content-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

.sing-warpper{
    padding: 20px 20px 40px;
    flex:1;
}

.box-wrapper{
    margin:20px 0 0 -42px;
    display: flex;
    flex-wrap: wrap;
}

.grap{
    width: 100%;
    margin-bottom: 35px;
}

.login-content{
    width: 250px;
    position: relative;
    zoom: 1;
    border-left: 1px solid #d3d3d3;
}

.login-form-control{
    background: url('../../../asserts/logo/index.png') 0 0 no-repeat;
    height: 126px;
    padding-top: 0;
}

.login-note{
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
    color:#666;
    font-size: 12px;
}

.btn-default{
    display: inline-block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    margin:0 auto;
    background: url('../../../asserts/logo/index.png') 0 -195px no-repeat;
}

.btn-default:hover{
    background-position: -110px -195px;
}

.n-singer{
    margin-top: 15px;
}

.n-singer-list{
    margin: 6px 0 14px 20px;
    display: flex;
    flex-direction: column;
}

.apply-to-singer a{
    padding: 0 5px 0 0;
    width:210px;
    height: 31px;
    border-radius: 4px;
    color:#666;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    border-right: 1px solid #ccc;
    display: inline-block;
    background: url('../../../asserts/logo/button2.png') #fff 0 -59px no-repeat;
}

.apply-to-singer a:hover{
    background-position:right -182px;
    border:1px solid #ccc;
    height: 29px;
}

.zb-wrapper{
    margin-top: 30px;
}

.zb-list{
    margin: 20px 0 0 20px;
}