.App {
  text-align: center;
  font-size: 14px;
}

body{
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

em,
i {
  font-style: normal;
}

body,
input,
textarea,
select {
  color: #333;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}
